<div class="jumbotron">
  <h1 class="display-4">Mario's Special Desserts</h1>
  <p class="lead">Sweet treats from all over the world.</p>
  <hr class="my-4">
  <p>Because ...reasons</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Go away!</a>
  </p>
</div>
