<div class="jumbotron">
  <h1 class="display-4">Mario's Special Desserts</h1>
  <p class="lead">Sweet treats from all over the world.</p>
  <hr class="my-4">
  <p>Because ...reasons</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Go away!</a>
  </p>
</div>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>


<p><%= link_to "Create new product", new_product_path %></p>
